body {
  margin: 0;
  font-family: "Rockwell";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

#root{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Page logo Div */
.Pagelogo_div{
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: aquamarine;
}

@media screen and (max-width : 920px) {
   .Pagelogo_div{
    flex-direction: column;
   }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
